<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  
  <!--  CONEXION LOCAL -->
  <property name="hibernate.connection.password">pRyg1o!a</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Prueba</property>
  <property name="hibernate.connection.username">postgres</property>
  
  
  <!-- CONEXION HEROKU
  <property name="hibernate.connection.password">CDarGNPQLNXTBQ5oL-HCOVlPj1</property>
  <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-83-44-229.compute-1.amazonaws.com:5432/den3oa81hsn2v1</property>
  <property name="hibernate.connection.username">dztvhahjjfgtxb</property>
 -->
  
  
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.show_sql"> true</property>
   <property name="hibernate.use_sql_comments"> true</property>
   <property name="hibernate.hbm2ddl.auto">update</property>
   <property name="hibernate.connection.datasource"> java:jboss/datasources/BackOfficePostgres</property> 
 
 <!--  <property name="current_session_context_class">thread</property>
 
  -->
     	<mapping class="modelo.Admin"/>
     	<mapping class="modelo.Cliente"/>
     	<mapping class="modelo.Normal"/>
     	<mapping class="modelo.Proveedor"/>
     	<mapping class="modelo.RegistroServicio"/>
     	<mapping class="modelo.Review"/>
     	<mapping class="modelo.Servicio"/>
     	<mapping class="modelo.Urgente"/>
     	
 </session-factory>
</hibernate-configuration>
